{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui vertical padded segment">
        <div class="ui container">
            <h1 class="ui header">
                Welcome to Tourradar
                <div class="sub header">
                    Your application is now ready.
                </div>
            </h1>
        </div>

    </div>
    <div class="ui vertical stripe segment">
        <div class="ui container">
            <div id="status">
                <p>
                    <svg id="icon-status" width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" fill="#759E1A"/>
                    </svg>
                    You can check your emails templates <a href="{{ path('email_templates') }}">here</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    #icon-status { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
</style>
{% endblock %}
